* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--VeryLightGray);
}

:root {
  --Red: #ea5353;
  --Cyan: #45d3d3;
  --Orange: #fcaf4a;
  --Blue: #549ef2;
  --VeryDarkBlue: #4c4e61;
  --GrayishBlue: #a3a5ae;
  --VeryLightGray: #fafafa;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.div-info {
  margin-top: 80px;
  text-align: center;
  max-width: 540px;
  margin-bottom: 60px;
}

.sub-title {
  font-size: 2.25rem;
  font-weight: 200;
  letter-spacing: 0.25px;
  color: var(--VeryDarkBlue);
}

.title {
  font-size: 2.25rem;
  color: var(--VeryDarkBlue);
  letter-spacing: 0.25px;
  font-weight: 600;
}

.info-prin {
  font-size: 1rem;
  color: var(--VeryDarkBlue);
  letter-spacing: 0.104px;
  line-height: 1.6;
  opacity: 0.5;
  margin-top: 10px;
}

.cards {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 80px;
  padding: 0 20px;
}

.card {
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 15px 30px -11px rgba(131, 166, 210, 0.5);
  padding: 32px;
  max-width: 350px;
  height: 250px;
}

.title-card {
  font-size: 1.25rem;
  color: var(--VeryDarkBlue);
  font-weight: 600;
}

.p-card {
  margin-top: 6px;
  font-size: 0.8125rem;
  letter-spacing: 0.09px;
  line-height: 1.7;
  opacity: 0.5;
}

.div-img {
  padding-top: 40px;
  display: flex;
  justify-content: flex-end;
}

.supervisor {
  border-top: 4px solid var(--Red);
}

.team-builder {
  border-top: 4px solid var(--Cyan);
  margin-bottom: 30px;
}

.karmar {
  border-top: 4px solid var(--Orange);
}

.calculator {
  border-top: 4px solid var(--Blue);
}


@media(max-width:999px){
  .cards{
    flex-direction: column;
    padding: 0 32px;
  }
  .title,.sub-title{
    font-size: 1.5rem;
  }
  .div-info{
    max-width: 100%;
    padding-left: 32px;
    padding-right: 32px;
  }
}